@using ProductApplication.ViewModels
@{
    ViewData["Title"] = "Home Page";
    @model ProductListViewModel;
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="text-center">
    <h1 class="display-4">All Products</h1>
    <div class="col-12 text-end">
        @Html.ActionLink("Create New Product", "Create", "Product", null, new { @class = "btn btn-primary" })
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Price
                </th>
                <th scope="col">
                    Color
                </th>
                <th scope="col">
                    Size
                </th>
                <th scope="col">
                    In-Stock
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products.ToList())
            {
                <tr>
                    <th scope="row">
                        @product.Name
                    </th>
                    <td>
                        @product.Description
                    </td>
                    <td>
                        @product.Price
                    </td>
                    <td>
                        @Enum.GetName(typeof(ProductColor), product.Color)
                    </td>
                    <td>
                          @Enum.GetName(typeof(ProductSize), product.Size)
                    </td>
                    <td>
                        @product.InStock
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Update", "Product", new {id = product.ID}, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", "Product", new {id = product.ID}, new { @class = "btn btn-alert" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
